<p id="notice"><%= notice %></p>

<% if @current_user %>
  <h1>Welcome</h1>
  <p>Hola <%= @current_user.first_name + " " + @current_user.last_name %></p>
  <% unless @current_user.roles.empty? %>
    <p>You are <%= @current_user.roles[0].name %></p>
  <% end %>
<% else %>
  <p>Welcome guest</p>
<% end %>
